@model contactform.Controllers.PageController

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
    ViewBag.Description = "This is description on the about page";
}


<h1>About page</h1>
<p>Hello my name is @ViewBag.Name and i im @ViewBag.Age  year. </p>

