@model contactform.Controllers.PageController

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Homepage";
}


<h1>Homepage page</h1>
<p>Lorem ipsum is samet ...</p>

