<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
</head>
<body>
	@RenderBody()

<footer>
    <p align="center">
        Example footer		
    </p>
</footer>
</body>
</html>
